.signUpForm {
  width: 490px;
  margin: 50px auto;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);
  padding: 30px 50px 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 36%;
  z-index: 110;
}
.signUpForm__input,
.signUpForm__gender,
.signUpForm__submit {
  height: 45px;
  border: solid 1px #eaeaea;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 10px;
  font-size: 14px;
}
.signUpForm__input,
.signUpForm__submit {
  width: 390px;
  background-color: #ffffff;
}
.signUpForm__input.invalid {
  border: solid 1px #e94b4b;
}
.signUpForm__submit {
  font-weight: bold;
  color: #4a4a4a;
  text-transform: uppercase;
}
.signUpForm__gender {
  width: 100px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 0;
}
.signUpForm__close {
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 30px;
  margin-bottom: 20px;
  color: #4a4a4a;
  cursor: pointer;
}
.signUpForm__remember {
  background-color: #ffffff ;
}
.signUpForm__label {
  -ms-flex-item-align: start;
      align-self: flex-start;
  text-transform: uppercase;
  font-size: 12px;
  font-family: Lato, sans-serif;
  margin-bottom: 16px;
}
.innerWrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.selectWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.checkboxWrap {
  margin-top: 40px;
}
.invalid-feedback {
  text-transform: none;
  font-style: italic;
  font-size: 12px;
  color: #e94b4b;
}
.overlay {
  position: fixed;
  z-index: 105;
  background-color: #000000;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
}
